
Test/Test/obj/project.assets.json
Test/.vs/Test/xs/sqlite3/db.lock
Test/.vs/Test/xs/sqlite3/storage.ide
Test/.vs/Test/xs/UserPrefs.xml
Test/Test/bin/Debug/netcoreapp2.1/Test.deps.json
Test/Test/Test.csproj
Test/Test/Program.cs
Test/Test/obj/Test.csproj.nuget.g.targets
Test/Test/obj/Test.csproj.nuget.g.props
Test/Test/obj/Test.csproj.nuget.cache
Test/Test/obj/Debug/netcoreapp2.1/Test.pdb
Test/Test/obj/Debug/netcoreapp2.1/Test.dll
Test/Test/obj/Debug/netcoreapp2.1/Test.csprojAssemblyReference.cache
Test/Test/obj/Debug/netcoreapp2.1/Test.csproj.FileListAbsolute.txt
Test/Test/obj/Debug/netcoreapp2.1/Test.csproj.CoreCompileInputs.cache
Test/Test/obj/Debug/netcoreapp2.1/Test.assets.cache
Test/Test/obj/Debug/netcoreapp2.1/Test.AssemblyInfoInputs.cache
Test/Test/obj/Debug/netcoreapp2.1/Test.AssemblyInfo.cs
Test/Test/bin/Debug/netcoreapp2.1/Test.runtimeconfig.json
Test/Test/bin/Debug/netcoreapp2.1/Test.runtimeconfig.dev.json
Test/Test/bin/Debug/netcoreapp2.1/Test.pdb
Test/Test.sln
Test/Test/bin/Debug/netcoreapp2.1/Test.dll
